## 0. Getting Ready

In [4]:
import os.path

import pandas as pd
import numpy as np

In [1]:
file_path = ".../MLB_FAN_ENGAGEMENT/data"

## 1. Awards

In [7]:
awards = pd.read_csv(file_path + '/awards.csv')
awards.head(5)

,awardDate,awardSeason,awardId,awardName,playerId,playerName,awardPlayerTeamId
0,2017-12-21,2017,WARRENSPAHN,Warren Spahn Award,477132,Clayton Kershaw,119.0
1,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,474319,Brandon Snyder,120.0
2,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,592530,Jose Marmolejos,120.0
3,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,593833,Wander Suero,120.0
4,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,600466,Raudy Read,120.0

In [8]:
awards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11256 entries, 0 to 11255
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   awardDate          11256 non-null  object
 1   awardSeason        11256 non-null  int64
 2   awardId            11256 non-null  object
 3   awardName          11256 non-null  object
 4   playerId           11256 non-null  int64
 5   playerName         11256 non-null  object
 6   awardPlayerTeamId  11243 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 615.7+ KB

## 2. Players

In [9]:
players = pd.read_csv(file_path + "/players.csv")
players.head(5)

,playerId,playerName,DOB,mlbDebutDate,birthCity,birthStateProvince,birthCountry,heightInches,weight,primaryPositionCode,primaryPositionName,playerForTestSetAndFuturePreds
0,665482,Gilberto Celestino,1999-02-13,2021-06-02,Santo Domingo,NaN,Dominican Republic,72,170,8,Outfielder,False
1,593590,Webster Rivas,1990-08-08,2021-05-28,Nagua,NaN,Dominican Republic,73,219,3,First Base,True
2,661269,Vladimir Gutierrez,1995-09-18,2021-05-28,Havana,NaN,Cuba,73,190,1,Pitcher,True
3,669212,Eli Morgan,1996-05-13,2021-05-28,Rancho Palos Verdes,CA,USA,70,190,1,Pitcher,True
4,666201,Alek Manoah,1998-01-09,2021-05-27,Homestead,FL,USA,78,260,1,Pitcher,True

In [10]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   playerId                        2061 non-null   int64
 1   playerName                      2061 non-null   object
 2   DOB                             2061 non-null   object
 3   mlbDebutDate                    2025 non-null   object
 4   birthCity                       2061 non-null   object
 5   birthStateProvince              1516 non-null   object
 6   birthCountry                    2061 non-null   object
 7   heightInches                    2061 non-null   int64
 8   weight                          2061 non-null   int64
 9   primaryPositionCode             2061 non-null   object
 10  primaryPositionName             2061 non-null   object
 11  playerForTestSetAndFuturePreds  2057 non-null   object
dtypes: int64(3), object(9)
memory usage: 193.3+ KB

## 3. Seasons

In [12]:
seasons = pd.read_csv(file_path + "/seasons.csv")
seasons.head(5)

,seasonId,seasonStartDate,seasonEndDate,preSeasonStartDate,preSeasonEndDate,regularSeasonStartDate,regularSeasonEndDate,lastDate1stHalf,allStarDate,firstDate2ndHalf,postSeasonStartDate,postSeasonEndDate
0,2017,2017-04-02,2017-11-01,2017-02-22,2017-04-01,2017-04-02,2017-10-01,2017-07-09,2017-07-11,2017-07-14,2017-10-03,2017-11-01
1,2018,2018-03-29,2018-10-28,2018-02-21,2018-03-27,2018-03-29,2018-10-01,2018-07-15,2018-07-17,2018-07-19,2018-10-02,2018-10-28
2,2019,2019-03-20,2019-10-30,2019-02-21,2019-03-26,2019-03-20,2019-09-29,2019-07-07,2019-07-09,2019-07-11,2019-10-01,2019-10-30
3,2020,2020-07-23,2020-10-28,2020-02-21,2020-07-22,2020-07-23,2020-09-27,2020-08-25,NaN,2020-08-26,2020-09-29,2020-10-28
4,2021,2021-02-28,2021-10-31,2021-02-28,2021-03-30,2021-04-01,2021-10-03,2021-07-11,2021-07-13,2021-07-15,2021-10-04,2021-10-31

In [15]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seasonId                5 non-null      int64
 1   seasonStartDate         5 non-null      object
 2   seasonEndDate           5 non-null      object
 3   preSeasonStartDate      5 non-null      object
 4   preSeasonEndDate        5 non-null      object
 5   regularSeasonStartDate  5 non-null      object
 6   regularSeasonEndDate    5 non-null      object
 7   lastDate1stHalf         5 non-null      object
 8   allStarDate             4 non-null      object
 9   firstDate2ndHalf        5 non-null      object
 10  postSeasonStartDate     5 non-null      object
 11  postSeasonEndDate       5 non-null      object
dtypes: int64(1), object(11)
memory usage: 608.0+ bytes

## 4. Teams

In [14]:
teams = pd.read_csv(file_path + '/teams.csv')
teams.head(5)

,id,name,teamName,teamCode,shortName,abbreviation,locationName,leagueId,leagueName,divisionId,divisionName,venueId,venueName
0,108,Los Angeles Angels,Angels,ana,LA Angels,LAA,Anaheim,103,American League,200,American League West,1,Angel Stadium
1,109,Arizona Diamondbacks,D-backs,ari,Arizona,ARI,Phoenix,104,National League,203,National League West,15,Chase Field
2,110,Baltimore Orioles,Orioles,bal,Baltimore,BAL,Baltimore,103,American League,201,American League East,2,Oriole Park at Camden Yards
3,111,Boston Red Sox,Red Sox,bos,Boston,BOS,Boston,103,American League,201,American League East,3,Fenway Park
4,112,Chicago Cubs,Cubs,chn,Chi Cubs,CHC,Chicago,104,National League,205,National League Central,17,Wrigley Field

In [16]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   name          30 non-null     object
 2   teamName      30 non-null     object
 3   teamCode      30 non-null     object
 4   shortName     30 non-null     object
 5   abbreviation  30 non-null     object
 6   locationName  30 non-null     object
 7   leagueId      30 non-null     int64
 8   leagueName    30 non-null     object
 9   divisionId    30 non-null     int64
 10  divisionName  30 non-null     object
 11  venueId       30 non-null     int64
 12  venueName     30 non-null     object
dtypes: int64(4), object(9)
memory usage: 3.2+ KB

## 5. Sample Submission (ex.)

In [18]:
example_sub = pd.read_csv(file_path + '/example_sample_submission.csv')
example_sub

          date    date_playerId  target1  target2  target3  target4
0     20210426  20210427_656669        0        0        0        0
1     20210426  20210427_543475        0        0        0        0
2     20210426  20210427_592866        0        0        0        0
3     20210426  20210427_452678        0        0        0        0
4     20210426  20210427_570257        0        0        0        0
...        ...              ...      ...      ...      ...      ...
5930  20210430  20210501_596049        0        0        0        0
5931  20210430  20210501_642851        0        0        0        0
5932  20210430  20210501_596071        0        0        0        0
5933  20210430  20210501_664901        0        0        0        0
5934  20210430  20210501_605525        0        0        0        0

[5935 rows x 6 columns]

In [19]:
example_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5935 entries, 0 to 5934
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           5935 non-null   int64
 1   date_playerId  5935 non-null   object
 2   target1        5935 non-null   int64
 3   target2        5935 non-null   int64
 4   target3        5935 non-null   int64
 5   target4        5935 non-null   int64
dtypes: int64(5), object(1)
memory usage: 278.3+ KB

## 6. Test (ex.)

In [22]:
ex_test = pd.read_csv(file_path + '/example_test.csv')
ex_test # JSON

,date,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
0,20210426,"[{""gamePk"":634374,""gameType"":""R"",""season"":2021...","[{""playerId"":405395,""gameDate"":""2021-04-26"",""t...","[{""home"":1,""gamePk"":634377,""gameDate"":""2021-04...","[{""home"":1,""teamId"":139,""gamePk"":634343,""gameD...","[{""transactionId"":480386,""playerId"":543685,""pl...","[{""season"":2021,""gameDate"":""2021-04-26"",""divis...",NaN,"[{""gamePk"":634433,""gameDate"":""2021-04-26"",""gam...",NaN,NaN
1,20210427,"[{""gamePk"":634318,""gameType"":""R"",""season"":2021...","[{""playerId"":443558,""gameDate"":""2021-04-27"",""t...","[{""home"":1,""gamePk"":634320,""gameDate"":""2021-04...","[{""home"":1,""teamId"":117,""gamePk"":634333,""gameD...","[{""transactionId"":480456,""playerId"":642162,""pl...","[{""season"":2021,""gameDate"":""2021-04-27"",""divis...",NaN,"[{""gamePk"":634332,""gameDate"":""2021-04-27"",""gam...",NaN,NaN
2,20210428,"[{""gamePk"":634309,""gameType"":""R"",""season"":2021...","[{""playerId"":429722,""gameDate"":""2021-04-28"",""t...","[{""home"":1,""gamePk"":634310,""gameDate"":""2021-04...","[{""home"":0,""teamId"":111,""gamePk"":634310,""gameD...","[{""transactionId"":480728,""playerId"":545358,""pl...","[{""season"":2021,""gameDate"":""2021-04-28"",""divis...",NaN,"[{""gamePk"":634317,""gameDate"":""2021-04-28"",""gam...",NaN,NaN
3,20210429,"[{""gamePk"":634330,""gameType"":""R"",""season"":2021...","[{""playerId"":405395,""gameDate"":""2021-04-29"",""t...","[{""home"":1,""gamePk"":634330,""gameDate"":""2021-04...","[{""home"":0,""teamId"":119,""gamePk"":634346,""gameD...","[{""transactionId"":480993,""playerId"":606965,""pl...","[{""season"":2021,""gameDate"":""2021-04-29"",""divis...",NaN,"[{""gamePk"":634346,""gameDate"":""2021-04-29"",""gam...",NaN,NaN
4,20210430,"[{""gamePk"":634287,""gameType"":""R"",""season"":2021...","[{""playerId"":405395,""gameDate"":""2021-04-30"",""t...","[{""home"":1,""gamePk"":634305,""gameDate"":""2021-04...","[{""home"":1,""teamId"":135,""gamePk"":634303,""gameD...",NaN,"[{""season"":2021,""gameDate"":""2021-04-30"",""divis...","[{""awardId"":""NLRRELMON"",""awardName"":""NL Reliev...","[{""gamePk"":634327,""gameDate"":""2021-04-30"",""gam...",NaN,NaN

In [21]:
ex_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    5 non-null      int64
 1   games                   5 non-null      object
 2   rosters                 5 non-null      object
 3   playerBoxScores         5 non-null      object
 4   teamBoxScores           5 non-null      object
 5   transactions            4 non-null      object
 6   standings               5 non-null      object
 7   awards                  1 non-null      object
 8   events                  5 non-null      object
 9   playerTwitterFollowers  0 non-null      float64
 10  teamTwitterFollowers    0 non-null      float64
dtypes: float64(2), int64(1), object(8)
memory usage: 568.0+ bytes

## 7. Train

In [23]:
train = pd.read_csv(file_path + '/train.csv')
train.head(30) # JSON

,date,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
0,20180101,"[{""engagementMetricsDate"":""2018-01-02"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-01"",""t...",NaN,NaN,"[{""transactionId"":340732,""playerId"":547348,""pl...",NaN,NaN,NaN,"[{""date"":""2018-01-01"",""playerId"":545361,""playe...","[{""date"":""2018-01-01"",""teamId"":147,""teamName"":..."
1,20180102,"[{""engagementMetricsDate"":""2018-01-03"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-02"",""t...",NaN,NaN,"[{""transactionId"":339458,""playerId"":621173,""pl...",NaN,NaN,NaN,NaN,NaN
2,20180103,"[{""engagementMetricsDate"":""2018-01-04"",""player...",NaN,"[{""playerId"":425492,""gameDate"":""2018-01-03"",""t...",NaN,NaN,"[{""transactionId"":347527,""playerId"":572389,""pl...",NaN,NaN,NaN,NaN,NaN
3,20180104,"[{""engagementMetricsDate"":""2018-01-05"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-04"",""t...",NaN,NaN,"[{""transactionId"":339549,""playerId"":545343,""pl...",NaN,NaN,NaN,NaN,NaN
4,20180105,"[{""engagementMetricsDate"":""2018-01-06"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-05"",""t...",NaN,NaN,"[{""transactionId"":341195,""playerId"":628336,""pl...",NaN,NaN,NaN,NaN,NaN
5,20180106,"[{""engagementMetricsDate"":""2018-01-07"",""player...",NaN,"[{""playerId"":425772,""gameDate"":""2018-01-06"",""t...",NaN,NaN,"[{""transactionId"":339712,""playerId"":678962,""pl...",NaN,NaN,NaN,NaN,NaN
6,20180107,"[{""engagementMetricsDate"":""2018-01-08"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-07"",""t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,20180108,"[{""engagementMetricsDate"":""2018-01-09"",""player...",NaN,"[{""playerId"":408045,""gameDate"":""2018-01-08"",""t...",NaN,NaN,"[{""transactionId"":341204,""playerId"":458913,""pl...",NaN,NaN,NaN,NaN,NaN
8,20180109,"[{""engagementMetricsDate"":""2018-01-10"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-09"",""t...",NaN,NaN,"[{""transactionId"":339834,""playerId"":642091,""pl...",NaN,NaN,NaN,NaN,NaN
9,20180110,"[{""engagementMetricsDate"":""2018-01-11"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-10"",""t...",NaN,NaN,"[{""transactionId"":358621,""playerId"":650645,""pl...",NaN,NaN,NaN,NaN,NaN
10,20180111,"[{""engagementMetricsDate"":""2018-01-12"",""player...",NaN,"[{""playerId"":408234,""gameDate"":""2018-01-11"",""t...",NaN,NaN,"[{""transactionId"":349344,""playerId"":600892,""pl...",NaN,NaN,NaN,NaN,NaN
11,20180112,"[{""engagementMetricsDate"":""2018-01-13"",""player...",NaN,"[{""playerId"":405395,""gameDate"":""2018-01-12"",""t...",NaN,NaN,"[{""transactionId"":339905,""playerId"":677915,""pl...",NaN,NaN,NaN,NaN,NaN
12,20180113,"[{""engagementMetricsDate"":""2018-01-14"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-13"",""t...",NaN,NaN,"[{""transactionId"":346977,""playerId"":621123,""pl...",NaN,NaN,NaN,NaN,NaN
13,20180114,"[{""engagementMetricsDate"":""2018-01-15"",""player...",NaN,"[{""playerId"":405395,""gameDate"":""2018-01-14"",""t...",NaN,NaN,"[{""transactionId"":339924,""playerId"":622713,""pl...",NaN,NaN,NaN,NaN,NaN
14,20180115,"[{""engagementMetricsDate"":""2018-01-16"",""player...",NaN,"[{""playerId"":408234,""gameDate"":""2018-01-15"",""t...",NaN,NaN,"[{""transactionId"":339931,""playerId"":605195,""pl...",NaN,"[{""awardId"":""VWLCPOY"",""awardName"":""VWL Comebac...",NaN,NaN,NaN
15,20180116,"[{""engagementMetricsDate"":""2018-01-17"",""player...",NaN,"[{""playerId"":425877,""gameDate"":""2018-01-16"",""t...",NaN,NaN,"[{""transactionId"":339949,""playerId"":623300,""pl...",NaN,NaN,NaN,NaN,NaN
16,20180117,"[{""engagementMetricsDate"":""2018-01-18"",""player...",NaN,"[{""playerId"":425492,""gameDate"":""2018-01-17"",""t...",NaN,NaN,"[{""transactionId"":347008,""playerId"":596842,""pl...",NaN,NaN,NaN,NaN,NaN
17,20180118,"[{""engagementMetricsDate"":""2018-01-19"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-18"",""t...",NaN,NaN,"[{""transactionId"":361928,""playerId"":679007,""pl...",NaN,NaN,NaN,NaN,NaN
18,20180119,"[{""engagementMetricsDate"":""2018-01-20"",""player...",NaN,"[{""playerId"":407845,""gameDate"":""2018-01-19"",""t...",NaN,NaN,"[{""transactionId"":340154,""playerId"":543195,""pl...",NaN,NaN,NaN,NaN,NaN
19,20180120,"[{""engagementMetricsDate"":""2018-01-21"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-20"",""t...",NaN,NaN,"[{""transactionId"":340641,""playerId"":477569,""pl...",NaN,NaN,NaN,NaN,NaN
20,20180121,"[{""engagementMetricsDate"":""2018-01-22"",""player...",NaN,"[{""playerId"":408045,""gameDate"":""2018-01-21"",""t...",NaN,NaN,"[{""transactionId"":340643,""playerId"":455374,""pl...",NaN,NaN,NaN,NaN,NaN
21,20180122,"[{""engagementMetricsDate"":""2018-01-23"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-22"",""t...",NaN,NaN,"[{""transactionId"":341184,""playerId"":543424,""pl...",NaN,NaN,NaN,NaN,NaN
22,20180123,"[{""engagementMetricsDate"":""2018-01-24"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-23"",""t...",NaN,NaN,"[{""transactionId"":340304,""playerId"":657209,""pl...",NaN,NaN,NaN,NaN,NaN
23,20180124,"[{""engagementMetricsDate"":""2018-01-25"",""player...",NaN,"[{""playerId"":425772,""gameDate"":""2018-01-24"",""t...",NaN,NaN,"[{""transactionId"":340361,""playerId"":506560,""pl...",NaN,"[{""awardId"":""MLBHOF"",""awardName"":""Hall Of Fame...",NaN,NaN,NaN
24,20180125,"[{""engagementMetricsDate"":""2018-01-26"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-25"",""t...",NaN,NaN,"[{""transactionId"":347005,""playerId"":606335,""pl...",NaN,"[{""awardId"":""LMPPOY"",""awardName"":""Mexican Paci...",NaN,NaN,NaN
25,20180126,"[{""engagementMetricsDate"":""2018-01-27"",""player...",NaN,"[{""playerId"":408236,""gameDate"":""2018-01-26"",""t...",NaN,NaN,"[{""transactionId"":340558,""playerId"":622713,""pl...",NaN,"[{""awardId"":""PWLCPOY"",""awardName"":""PWL Comebac...",NaN,NaN,NaN
26,20180127,"[{""engagementMetricsDate"":""2018-01-28"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-27"",""t...",NaN,NaN,"[{""transactionId"":340734,""playerId"":450275,""pl...",NaN,NaN,NaN,NaN,NaN
27,20180128,"[{""engagementMetricsDate"":""2018-01-29"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-28"",""t...",NaN,NaN,"[{""transactionId"":340975,""playerId"":679160,""pl...",NaN,NaN,NaN,NaN,NaN
28,20180129,"[{""engagementMetricsDate"":""2018-01-30"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-29"",""t...",NaN,NaN,"[{""transactionId"":340645,""playerId"":491703,""pl...",NaN,NaN,NaN,NaN,NaN
29,20180130,"[{""engagementMetricsDate"":""2018-01-31"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-30"",""t...",NaN,NaN,"[{""transactionId"":340714,""playerId"":456696,""pl...",NaN,NaN,NaN,NaN,NaN

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216 entries, 0 to 1215
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1216 non-null   int64
 1   nextDayPlayerEngagement  1216 non-null   object
 2   games                    639 non-null    object
 3   rosters                  1216 non-null   object
 4   playerBoxScores          538 non-null    object
 5   teamBoxScores            538 non-null    object
 6   transactions             1103 non-null   object
 7   standings                531 non-null    object
 8   awards                   294 non-null    object
 9   events                   536 non-null    object
 10  playerTwitterFollowers   40 non-null     object
 11  teamTwitterFollowers     40 non-null     object
dtypes: int64(1), object(11)
memory usage: 114.1+ KB

## 8.ì •ë¦¬
* train ë° test dataëŠ” JSON í˜•íƒœì´ë¯€ë¡œ parsingì´ í•„ìš”í•˜ë‹¤.
* parsingí•œ ë‹¤ìŒì€... ì•„ì§ ëª¨ë¥´ê² ë‹¤.