# 버스데이터를 기반으로 인구유동성 데이터 추출하기

#### 필요 파일 및 패키지 불러오기

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bustatonf = pd.read_csv('20.고양시_버스정류소.csv')
bustat = pd.read_csv('21.버스_정류장별_승하차_정보.csv')

## 데이터 설명 
 ### 20.고양시_버스정류소
 - 현재 기준의 고양시 버스 정류소, 마을버스 정류소 위치
- STATION_NM    버스정류장 명
- STATION_ID    버스정류장 고유 ID
- X    버스정류장의 위도
- Y    버스정류장의 경도

 ### 21.버스_정류장별_승하차_정보
 - 최근 1년치 고양시 버스 정류장별 승하차 정보
- STATION_ID    버스정류장 고유 ID
- STATION_NM    버스정류장 명
- GETON_CNT    버스정류장 승차인원 수

### 두 파일을 병합하기 
- STATION_ID: 정류장ID
- STATION_NM: 정류장 이름
- GETON_CNT: 승하차인원수
- X: 경도
- Y: 위도

In [ ]:
# merge 이용
bus = bustat.merge(bustatonf, on=['STATION_NM','STATION_ID'])
bus

#2823개

      STATION_ID STATION_NM  GETON_CNT           X          Y
0      218001046     화정역3호선     229091  126.832410  37.635347
1      218001083        원당역     219186  126.843885  37.653079
2      218000974     화정역3호선     197084  126.832827  37.634486
3      218000974     화정역3호선       5335  126.832827  37.634486
4      219000193        대화역     191696  126.747539  37.676390
...          ...        ...        ...         ...        ...
2818   219000882      환경사업소          0  126.726069  37.659134
2819   219000968      장항굴다리          0  126.761935  37.647081
2820   218000827       새벽교회          0  126.858807  37.721591
2821   218000888       남양유업          0  126.852764  37.666689
2822   218001029        매화정          0  126.842346  37.603517

[2823 rows x 5 columns]

## groupby를 통해 동명의 정류장끼리 묶는다
 - 위치가 조금씩 다르지만 같은 한글이름을 사용하는 정류장들을 묶음

In [ ]:
bus_grouped = bus.groupby(['STATION_NM','STATION_ID','GETON_CNT'],as_index=False).sum()
bus_grouped

      STATION_NM  STATION_ID  GETON_CNT           X          Y
0     (구)효자동주민센터   218000258        149  126.919747  37.652634
1     (구)효자동주민센터   218000258        195  126.919747  37.652634
2     (구)효자동주민센터   218000265         19  126.919892  37.652603
3     (구)효자동주민센터   218000265         27  126.919892  37.652603
4      16단지.삼송초교   218001182       9686  126.882791  37.653627
...          ...         ...        ...         ...        ...
2818     흰돌마을(중)   219000453       6900  126.781373  37.648172
2819     흰돌마을(중)   219000453       7817  126.781373  37.648172
2820  흰돌마을.서안아파트   219000161        934  126.785637  37.641313
2821  흰돌마을.서안아파트   219000161      10467  126.785637  37.641313
2822     힐스테이트일산   219000585         22  126.745650  37.666309

[2823 rows x 5 columns]

In [ ]:
# 재정의
bus2 = bus_grouped

## 동명의 정류장 중 경위도값이 같은 정류장끼리는 GETON_CNT를 더해준다 (groupby)

In [ ]:
# 위치가 같은 정류소 중복을 방지
bus3 = bus2.groupby(['STATION_NM','STATION_ID','X','Y'], as_index=False).sum()
bus3

       STATION_NM  STATION_ID           X          Y  GETON_CNT
0      (구)효자동주민센터   218000258  126.919747  37.652634        344
1      (구)효자동주민센터   218000265  126.919892  37.652603         46
2       16단지.삼송초교   218001182  126.882791  37.653627       9686
3       16단지.삼송초교   218001187  126.883295  37.653999       1126
4            1군단앞   218000498  126.911514  37.716309         21
...           ...         ...         ...        ...        ...
2076          희망원   219000229  126.821292  37.702977       1248
2077  흰돌5단지.서안아파트   219000213  126.785729  37.640872      14603
2078      흰돌마을(중)   219000453  126.781373  37.648172      14717
2079   흰돌마을.서안아파트   219000161  126.785637  37.641313      11401
2080      힐스테이트일산   219000585  126.745650  37.666309         22

[2081 rows x 5 columns]

In [ ]:
bus3.head(10)

   STATION_NM  STATION_ID           X          Y  GETON_CNT
0  (구)효자동주민센터   218000258  126.919747  37.652634        344
1  (구)효자동주민센터   218000265  126.919892  37.652603         46
2   16단지.삼송초교   218001182  126.882791  37.653627       9686
3   16단지.삼송초교   218001187  126.883295  37.653999       1126
4        1군단앞   218000498  126.911514  37.716309         21
5        1군단앞   218000500  126.912488  37.717179        321
6   2단지관리사무실앞   218000743  126.836772  37.646522        303
7  2단지라이프아파트앞   218000932  126.837170  37.645662         24
8  2단지라이프아파트앞   218001009  126.837020  37.645986      14376
9   5단지관리사무실앞   218000740  126.836483  37.642546       7119

## 상위 몇개만 뽑아보면 버스승하차 횟수가 많은 지역을 알 수 있을 것이다

In [ ]:
bus_a = bus3.sort_values(by='GETON_CNT', ascending=False)
bus_a

     STATION_NM  STATION_ID           X          Y  GETON_CNT
384         대화역   219000193  126.747539  37.676390     361686
2023     화정역3호선   218001046  126.832410  37.635347     229091
1340        원당역   218001083  126.843885  37.653079     219186
2022     화정역3호선   218000974  126.832827  37.634486     202419
385         대화역   219000366  126.747416  37.675989     199238
...         ...         ...         ...        ...        ...
1325     원골마을회관   218000597  126.864203  37.581361          0
888        새벽교회   218000827  126.858807  37.721591          0
398         덕은동   218000594  126.860548  37.581514          0
56        가좌동성당   219001111  126.726562  37.697732          0
555         매화정   218001029  126.842346  37.603517          0

[2081 rows x 5 columns]

In [ ]:
# 전체 버스 정류장 평균 승하차인원이 4700여명 정도 된다
bus_a.describe()

         STATION_ID            X            Y      GETON_CNT
count  2.081000e+03  2081.000000  2081.000000    2081.000000
mean   2.185258e+08   126.819148    37.666634    4688.834695
std    1.033896e+06     0.053995     0.032485   16699.517366
min    2.180000e+08   126.679997    37.581102       0.000000
25%    2.180008e+08   126.777363    37.644999      70.000000
50%    2.180013e+08   126.823145    37.668142     573.000000
75%    2.190006e+08   126.859858    37.691194    3677.000000
max    2.415011e+08   126.962809    37.747089  361686.000000

## 승하차별 상위 n개의 버스데이터를 만들어 살펴보자 
 - csv파일로 만들어 저장한 뒤, qgis프로그램을 이용하여 시각화할 수 있음

In [ ]:
# 이용이 많은 버스정류장 상위 30개를 살펴볼 수 있다
bus_a_top30 = bus_a.head(30)

# 이용이 많은 버스정류장 상위 50개를 살펴볼 수 있다
bus_a_top50 = bus_a.head(50)

# 이용이 많은 버스정류장 상위 100개를 살펴볼 수 있다
bus_a_top100 = bus_a.head(100)

In [ ]:
# csv파일로 만들어 추후 qgis 시각화에 이용
bus_a_top30.to_csv('bus_a_top30.csv')
bus_a_top50.to_csv('bus_a_top50.csv')
bus_a_top100.to_csv('bus_a_top100.csv')

In [ ]:
# 재정의
bus_a_top100 = bus_a_top100.copy()
bus_a_top100

         STATION_NM  STATION_ID           X          Y  GETON_CNT
384             대화역   219000193  126.747539  37.676390     361686
2023         화정역3호선   218001046  126.832410  37.635347     229091
1340            원당역   218001083  126.843885  37.653079     219186
2022         화정역3호선   218000974  126.832827  37.634486     202419
385             대화역   219000366  126.747416  37.675989     199238
...             ...         ...         ...        ...        ...
899   샘터마을2단지.신능중학교   218000118  126.833738  37.621644      19139
1916            행신역   218001019  126.835049  37.612941      18961
1087      숲속마을4.5단지   219000460  126.800155  37.669089      18927
1745      탄현효성주은아파트   219000315  126.768340  37.690707      18923
442      도래울마을5.6단지   218000680  126.867730  37.628198      18848

[100 rows x 5 columns]

- 중복되는 정류장 (= 상/하행이 있는 정류장)과 중복되지 않는 정류장 분류
- 중복되는 정류장 -> 양방향 유동인구가 많다는 것을 의미 -->  합쳐진 데이터로 분석

In [ ]:
# 여기서는 중복되지 않는 정류장 이름들을 살펴본다

bus_a_top100_no_dup = bus_a_top100.drop_duplicates(["STATION_NM"], keep=False)
bus_a_top100_no_dup.info()

# # 총59곳 --> 중복되는 것의 짝이 두개씩이면 중복되지 않는 것도 짝수 값이 나올텐데
# 홀수값 --> 정류장이름이 중복되는 것이 세개씩 있는 것도 있을 것이라고 추측가능함.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 1340 to 442
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_NM  59 non-null     object
 1   STATION_ID  59 non-null     int64
 2   X           59 non-null     float64
 3   Y           59 non-null     float64
 4   GETON_CNT   59 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.8+ KB

In [ ]:
# 중복되지 않는 정류장
bus_a_top100_no_dup

              STATION_NM  STATION_ID           X          Y  GETON_CNT
1340                 원당역   218001083  126.843885  37.653079     219186
855              삼송역8번출구   218001200  126.896880  37.653835     102780
853              삼송역5번출구   218000284  126.893512  37.653499      82318
2020            화정역.롯데마트   218000019  126.830748  37.632918      66042
851              삼송역3번출구   218001280  126.895430  37.652687      58272
854              삼송역6번출구   218000627  126.896329  37.653501      55333
852              삼송역4번출구   218000090  126.893807  37.653250      55069
1367             원흥역3번출구   218000696  126.873272  37.650091      50388
2013          화정1동행정복지센터   218000102  126.834066  37.646016      46277
1947               현대백화점   219000625  126.752013  37.668475      46162
797         산들대림아파트.롯데마트   219000174  126.777905  37.682159      41472
748         별빛마을8단지.롯데마트   218000014  126.830108  37.631673      41357
1201             안산공원(중)   219000385  126.784928  37.645505      40987
1615      중산마을10단지.동신아파트   219000176  126.778879  37.687498      39574
1097              스타필드후문   218001104  126.895309  37.648126      37902
687               백석역(중)   219000368  126.786051  37.644508      37661
1387            위시티3.4단지   219000706  126.812658  37.680960      37386
1605               중부대학교   218001189  126.888829  37.711766      35946
228                국립암센터   219000110  126.783575  37.665219      35610
1881          해태쇼핑.중산사거리   219000335  126.780538  37.693941      33675
462              동국대병원정문   219000583  126.807029  37.676073      33375
1144           신원마을2단지후문   218001210  126.890996  37.668422      32979
1065          송포파출소.송포농협   219000121  126.737411  37.671786      30819
568         명지병원.달빛마을3단지   218000101  126.833576  37.643204      30031
693              백석역6번출구   219000015  126.788331  37.643593      29295
646                밤가시마을   219000112  126.776952  37.673579      28129
1145             신원마을3단지   218000225  126.892637  37.663188      27596
1786           푸른마을동익아파트   218000651  126.903448  37.709462      26251
1954       현대파크아파트.양우아파트   219000122  126.734420  37.670122      25790
1646                 지축역   218000952  126.914275  37.649103      25578
438           도래울마을2.3단지   218000691  126.869997  37.632533      25493
580               목암초.중교   218000495  126.905706  37.712205      24920
2018           화정동단독주택단지   218000100  126.832379  37.640093      24623
584          무원마을.단독주택단지   218000119  126.834276  37.616714      24429
64             가좌마을5.6단지   219001091  126.722029  37.690753      24379
272                  내유동   218000165  126.843542  37.724778      24244
1912              행신동(중)   218000318  126.842110  37.619313      24103
1090           숲속마을7.8단지   219000462  126.800270  37.671415      23803
1393           위시티주상복합단지   219000704  126.810959  37.677970      23719
1081             숲속마을1단지   219001045  126.797877  37.664003      23612
305             능곡역.능곡시장   218000193  126.820111  37.620585      23564
390                 덕양구청   218000072  126.831572  37.637335      23380
2054             후곡한양아파트   219000199  126.766724  37.678452      23211
1142           신원마을2.4단지   218000653  126.890655  37.665363      22851
567                 명지병원   218000992  126.830690  37.642041      22824
1621  중산마을입구.쌍용아파트.실로암병원   219000175  126.777363  37.686323      22816
1738                 탄현역   219001107  126.760363  37.693784      21482
324              단풍마을1단지   219001048  126.796159  37.663251      21470
910              서울시립승화원   218000213  126.887911  37.678678      20194
1203             알미공원(중)   219000454  126.784355  37.645777      20115
2019            화정역.덕양구청   218000099  126.830925  37.635757      20028
2052             후곡롯데아파트   219000114  126.766744  37.678022      19801
45                   가장동   218000161  126.857117  37.705652      19537
1395          윗내유동.희망양로원   218000164  126.849199  37.717651      19439
1467           일산국제컨벤션고교   219000256  126.773097  37.673042      19268
899        샘터마을2단지.신능중학교   218000118  126.833738  37.621644      19139
1087           숲속마을4.5단지   219000460  126.800155  37.669089      18927
1745           탄현효성주은아파트   219000315  126.768340  37.690707      18923
442           도래울마을5.6단지   218000680  126.867730  37.628198      18848

In [ ]:
# 중복되는 정류소 뽑기

bus_top_data = pd.concat([bus_a_top100, bus_a_top100_no_dup, bus_a_top100_no_dup]).drop_duplicates(keep=False)
bus_top_data

# "리스쇼핑.원당시장"은 값이 3개다
# (지역 특성상) 로타리라서 정류장이 많음 (총 4개)
# 이 곳은 양방향 유동인구가 많다고 할 수 있겠다

         STATION_NM  STATION_ID           X          Y  GETON_CNT
384             대화역   219000193  126.747539  37.676390     361686
2023         화정역3호선   218001046  126.832410  37.635347     229091
2022         화정역3호선   218000974  126.832827  37.634486     202419
385             대화역   219000366  126.747416  37.675989     199238
534          마두역(중)   219000370  126.777480  37.652390     162142
1478       일산동구청(중)   219000356  126.774287  37.657816     156731
1590         주엽역(중)   219000189  126.761634  37.670067     154395
1477       일산동구청(중)   219000191  126.774728  37.657438     151423
535          마두역(중)   219000383  126.778044  37.651717     148257
1591         주엽역(중)   219000363  126.760893  37.670280     119326
683   백석동.요진와이시티(중)   219000163  126.790578  37.641013      92881
1480     일산동부경찰서(중)   219000130  126.770120  37.663637      90618
1481     일산동부경찰서(중)   219000131  126.769504  37.664012      84816
689     백석역.고양종합터미널   219000446  126.789646  37.644218      81796
666             백마역   219000045  126.794150  37.657464      75718
1915            행신역   218000463  126.834878  37.612678      61982
77          강선마을(중)   219000192  126.765406  37.667954      52225
613         문촌마을(중)   219000364  126.755850  37.672488      46555
76          강선마을(중)   219000190  126.766218  37.667509      46074
1920      행신초등학교(중)   218000317  126.837536  37.622176      42247
684   백석동.요진와이시티(중)   219000386  126.791111  37.640856      39706
673          백병원(중)   219000365  126.751102  37.674563      39239
672          백병원(중)   219000128  126.751650  37.674440      35383
146           고양동시장   218000177  126.901961  37.703381      35303
204        관산동.벽제시장   218000156  126.866033  37.687357      34398
131        고양경찰서(중)   218000316  126.830244  37.626732      33047
665             백마역   219000044  126.793543  37.657847      31402
612         문촌마을(중)   219000129  126.756461  37.672340      30073
531      마두1동행정복지센터   219000168  126.788948  37.656058      28918
526       리스쇼핑.원당시장   218000116  126.836891  37.655878      26925
145           고양동시장   218000050  126.902126  37.703561      26539
203        관산동.벽제시장   218000030  126.864612  37.687918      25038
527       리스쇼핑.원당시장   218000874  126.837007  37.656288      24537
525       리스쇼핑.원당시장   218000113  126.837775  37.655821      24474
132        고양경찰서(중)   218000320  126.828726  37.627361      23871
1508            일산역   219000061  126.768938  37.681569      23808
1509            일산역   219000064  126.769931  37.681462      23726
532      마두1동행정복지센터   219000207  126.789254  37.656323      22515
1921      행신초등학교(중)   218000319  126.838099  37.621969      22013
688     백석역.고양종합터미널   219000329  126.790125  37.645087      21850
1916            행신역   218001019  126.835049  37.612941      18961

In [ ]:
# 총41곳
bus_top_data['STATION_NM'].count()

41

In [ ]:
# 짝이 다 맞는지 확인하기
bus_top_data.groupby('STATION_NM').count()

               STATION_ID  X  Y  GETON_CNT
STATION_NM
강선마을(중)                 2  2  2          2
고양경찰서(중)                2  2  2          2
고양동시장                   2  2  2          2
관산동.벽제시장                2  2  2          2
대화역                     2  2  2          2
리스쇼핑.원당시장               3  3  3          3
마두1동행정복지센터              2  2  2          2
마두역(중)                  2  2  2          2
문촌마을(중)                 2  2  2          2
백마역                     2  2  2          2
백병원(중)                  2  2  2          2
백석동.요진와이시티(중)           2  2  2          2
백석역.고양종합터미널             2  2  2          2
일산동구청(중)                2  2  2          2
일산동부경찰서(중)              2  2  2          2
일산역                     2  2  2          2
주엽역(중)                  2  2  2          2
행신역                     2  2  2          2
행신초등학교(중)               2  2  2          2
화정역3호선                  2  2  2          2